@import "assets/sweet-portofolio";

/* Colors */
$primary-color: #0d6efd;
$primary-hover-color: #0b5ed7;
$white-color: #fff;

/* Button Styling */
.btn-primary {
  background-color: $primary-color;
  border: none;
  color: $white-color;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: $primary-hover-color;
  }
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  pointer-events: none;
  max-width: 500px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $white-color;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  padding: 1rem;
}

.modal-title {
  margin: 0;
  line-height: 1.5;
}

.list-group-item {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.125);

  &:hover {
    background-color: #f8f9fa;
  }
}

/* Button Group Styling */
.group-btn-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  align-content: center;
  flex-wrap: nowrap;
  > * {
    flex: 1 1 auto;
  }
}

.btn-preview-portfolio {
  color: #fff;
  background: #444;
  border-radius: 15px;
  text-align: center;
  padding: 9px 10px;
  &:hover {
    background: #000;
    color: #fff;
  }
}

.btn-whatsapp-portfolio {
  color: #fff;
  background: #25d366;
  border-radius: 15px;
  text-align: center;
  padding: 9px 10px;

  &:hover {
    background: #128c7e;
    color: #fff;
  }
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 3rem;

  .page-item {
    list-style: none;

    &.active .page-link {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
    }

    .page-link {
      color: #007bff;
      padding: 0.5rem 0.75rem;
      border: 1px solid #dee2e6;
      border-radius: 0.25rem;
      text-decoration: none;
      margin-right: 5px;
    }
  }
}

/* Modal Portfolio Styling */
a.btn-modal-portofolio {
  background-color: #333;
  color: #fff;
  padding: 10px 30px;
  border-radius: 15px;
  &:not([href]) {
    color: #fff !important;
  }
  &:visited {
    color: #fff;
  }
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.frame-modal-portofolio {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(9px);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  .modal-header {
    padding: 1rem 2rem;
    color: #000;
    font-size: 1.5em;
  }
  .modal-body-portofolio {
    overflow-y: auto;
    height: 60vh;
    padding: 0 2rem 2rem;
  }
  .content-portofolio {
    max-width: 600px;
    margin: 20vh auto;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    position: relative;
    width: 90%;

    .modal-header {
      position: relative;
    }

    .close-modal-portofolio {
      position: absolute;
      top: 0px;
      right: 10px;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .list-portofolio {
      position: relative;
      display: block;
      padding: 10px 0;
      &:nth-child(2n) {
        background-color: #f8f9fa;
      }
      .badge-portofolio {
        position: absolute;
        top: 10px;
        right: 10px;
        background: slateblue;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        padding: 5px 7px;
        border-radius: 5px;
      }
    }
  }

  .list-group {
    padding: 0;
    .list-portofolio {
      border: none;
      background: none;
    }
  }
}

/* Card Portfolio Styling */
.card-portofolio {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 10px;
  background: #fff;
}

.portofolio-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

/* Frame Portfolio Styling */
.frame-portofolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

/* Column Portfolio Styling */
.col-portofolio {
  width: 50%;
  padding: 10px;

  .card-portofolio {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 7px;
  }

  /* For desktop and larger screens (4 columns) */
  @media (min-width: 992px) {
    width: 33.33%;
  }

  /* For tablet screens (3 columns) */
  @media (min-width: 768px) and (max-width: 991px) {
    width: 50%;
  }

  /* For mobile screens (1 column) */
  @media (max-width: 767px) {
    width: 100%;
  }
}
